---
layout: default
body_classes: page-post page-post-1
---

<div class="section">
  <div class="container post-header">

    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
          {% if page.date %}
            <div class="post-date">{{ page.date | date_to_long_string }}</div>
          {% endif %}
          {% if page.categories %}
          <div class="post-categories">
          {% include framework/blocks/components/categories-badges.html 
              categories=page.categories
          %}
          {% endif %}
          </div>
          <div class="post-title">
            <h1>{{ page.title }}</h1>
          </div>
          {% if page.description %}
            <div class="post-description">
              <p>{{ page.description }}</p>
            </div>
          {% endif %}

          {% if page.authors %}
            <div class="post-authors">
              {% for author in page.authors %}
              {% assign author_id = author | replace: " ", "_" | downcase %}
              {% assign author_object = site.data.authors[author_id] %}
              {% include framework/blocks/components/author.html 
                name=author_object.name
                job=author_object.job
                image=author_object.image
              %}
              {% endfor %}
            </div>
          {% endif %}

      </div>
    </div>
          
    <div class="row justify-content-center">
      <div class="col-12 col-lg-8">
        {% if page.image %}
          <div class="post-image">
            <img src="{{ page.image }}" alt="{{ page.title }}" />
          </div>
        {% endif %}
      </div>
    </div>

  </div>
</div>

<div class="section pt-0">
  <div class="container">
    <div class="row justify-content-center">

      <div class="col-12 col-lg-8">
        <div class="content">{{ content }}</div>
        {% if site.disqus.shortname %}
        {% if page.comments != false %}
          <div class="comments mt-3">
            {% include framework/global/integrations/disqus.html %}
          </div>
        {% endif %}
        {% endif %}
      </div>

    </div>
  </div>
</div>


{% assign cards = site.posts | sort: 'date' | reverse %}
{% assign limit = page.posts.limit | default: 6 %}
{% assign sort_by = page.posts.sort | default: 'date' %}
{% assign columns =  page.posts.columns | default: 3 %}
{% capture columns %}col-lg-{{ 12 | divided_by:columns }}{% endcapture %}
{% if sort_by == 'weight' %}
  {% assign cards = cards | sort: 'weight' %}
{% endif %}

{% if cards.size > 0 %}
<div class="section bg-base-bg-2">
  <div class="container">
    <div class="row">

      {% include framework/blocks/components/grid-header.html 
        heading=page.posts.heading 
        sub_heading=page.posts.sub_heading 
      %}

      {% for card in cards limit: limit %}
        <div class="col-12 col-md-4 {{ columns }}{% if forloop.first %}mt-0{% endif %} {% if forloop.last %}mb-0{% endif %} mb-3 mb-md-6">
          {% include theme/cards/card-post.html 
            title=card.title 
            description=card.description
            thumbnail=card.thumbnail
            image=card.image
            authors=card.authors
            categories=card.categories
            date=card.date
            url=card.url 
            weight=card.weight
          %}
        </div>
      {% endfor %}

      {% include framework/blocks/components/grid-footer.html 
        view_more_button_text=page.posts.view_more_button_text
        view_more_button_link=page.posts.view_more_button_link
        view_more_button_align="right"
      %}

    </div>
  </div>
</div>
{% endif %}


